Вводные данные: 
В период с 08.01.18 по 09.01.18 был проведен A/B тест. Тестовой группе был предложен товар со скидкой.

Задача:
Оцените эффект данной скидки с точки зрения изменения дохода для пользователей RU региона.
Оформить в виде выводов с визуализацией, кратко пояснить методологию расчетов. Написать SQL запрос.

Данные необходимо забрать с помощью SQL запроса:
Имеются 2 таблицы с данными. В первой таблице «Users» содержатся идентификационный номер пользователей «SPA_ID», регион «Realm» и тип группы «Type_of_group». Во второй таблице «Revenue» содержатся идентификационный номер пользователей «SPA_ID», дата «DT» и «Revenue» (запись отсутствует, если пользователь не платил).

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
from scipy.stats import normaltest

In [2]:
# настройки отображения графиков
%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 5)
plt.rcParams['font.family'] = 'sans-serif'

In [3]:
df = pd.read_csv(
    '/opt/kate_repo/real_data_analysis/wargaming_task/second_task.csv')

In [4]:
df['Realm'] = df['Realm'].fillna('NA')
df.head()

   SPA_ID Realm Type_of_group
0       1    RU        Target
1       2    EU        Target
2       3    NA        Target
3       4   SEA        Target
4       5    RU       Control

In [5]:
df_second = pd.read_csv(
    '/opt/kate_repo/real_data_analysis/wargaming_task/second_task_table2.csv')
df_second.head()

   SPA_ID         dt  Revenue
0       2   1/8/2018     15.8
1       3   1/2/2018     24.0
2       5   1/9/2018      8.6
3       6  1/14/2018      5.8
4       9   1/8/2018     21.6

In [6]:
# %load_ext sql

In [7]:
from sqlalchemy import create_engine
# engine = create_engine(
#     'postgresql://postgres:postgres@localhost/sql_example')

In [8]:
# drop table wargaming

In [9]:
# Instantiate sqlachemy.create_engine object
engine = create_engine('postgresql://postgres:postgres@localhost/sql_example')

# Save the data from dataframe to postgres table "second_task"
df.to_sql(
    'wargaming',
    engine,
    index=False # Not copying over the index
)

# Save the data from dataframe to postgres table "second_task_table2"
df_second.to_sql(
    'wargaming_second',
    engine,
    index=False # Not copying over the index
)