В продукте для продавцов был произведен пробный запуск, состоявший из нескольких этапов. Одной из метрик успешности считается количество продаж каждым из продавцов. Владелец продукта установил такой критерий успешности пробного запуска — 10 продаж на продавца. В вашем распоряжении три таблицы:

registrations - заявки потенциальных продавцов,
sellers - учётные записи зарегистрированных продавцов,
orders - заказы у продавцов.

На основании данных определите
    Какие характерные этапы были в запуске, сколько их было и когда?
    Удалось ли достичь критериев успешности?
    Какие бы вы визуализации предложили для обозревания ответа на каждый вопрос? 
    Кроме изображений, прикрепите к заданию код, с помощью которого вы пришли к ним.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt

In [56]:
orders=pd.read_csv('/opt/kate_repo/real_data_analysis/emex_interview_task/orders.csv')
orders.head()

,id,created_at,seller_id,product_price,quantity,status
0,12,2020-08-21 04:20:08.867,15,4417.2,1,BuyerDidNotCome
1,1,2020-08-03 10:39:52.847,2,911.5,1,BuyerDidNotCome
2,2,2020-08-03 10:48:48.763,2,911.5,2,Rejection
3,25,2020-09-05 14:16:03.177,4,435.0,2,BuyerDidNotCome
4,17,2020-08-27 06:07:22.65,10,4000.0,1,Issued

In [57]:
registrations=pd.read_csv('/opt/kate_repo/real_data_analysis/emex_interview_task/registrations.csv')
registrations.head()

,id,inn,created_at,is_accepted,is_seller
0,5781db93a6444c921c45efcc7f30bd08,2.301126e+11,2020-07-17 10:11:40.204382,False,False
1,e8862ca7b667307568ca408c05c57cce,5.047905e+11,2020-07-31 15:54:30.906968,False,False
2,838ae3edd30e77940522cb950fb6a77d,NaN,2020-08-03 08:09:59.410891,False,True
3,d8aa22a597b538ddef927675a20fec45,NaN,2020-07-29 10:03:43.949494,False,True
4,d30bd4297f49a76595df3eb348b59eaa,NaN,2020-07-30 12:48:44.982906,False,True

In [55]:
sellers=pd.read_csv('/opt/kate_repo/real_data_analysis/emex_interview_task/sellers.csv',converters={'contractor_json':json.loads}, header=0, quotechar='"')
contractor = sellers.join(pd.io.json.json_normalize(sellers["contractor_json"])).drop(["contractor_json"], axis=1)
contractor

<ipython-input-55-2eacf8b1bb74>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  contractor = sellers.join(pd.io.json.json_normalize(sellers["contractor_json"])).drop(["contractor_json"], axis=1)

,id,created_at,Inn,Bulk,City,Flat,Ogrn,House,Оkpo,Status,Street,ZipCode,LegalName,RegionName,Settlement
0,1,2020-08-03 07:12:03.963452,5544554451,None,None,None,None,None,None,0,None,None,None,None,None
1,2,2020-08-03 07:38:31.136276,0000000000,None,None,None,None,None,None,0,None,None,None,None,None
2,3,2020-08-04 05:58:33.473403,700202974358,None,Томск,None,317703100080340,None,0114009213,1,None,None,None,Томская область,None
3,4,2020-08-06 05:05:37.043578,7017216138,None,Томск,None,1087017018395,дом 9,85256729,1,улица Киевская,634012,"Общество с ограниченной ответственностью ""Авто...",Томская область,None
4,5,2020-08-06 06:03:06.613762,352500119022,None,None,None,316290100082018,None,0104421401,1,None,None,None,Архангельская область,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,68,2020-11-11 05:22:52.213879,027612880004,None,Уфа,None,317028000128126,None,0119910853,1,None,None,None,Башкортостан республика,None
68,69,2020-11-11 06:32:21.733324,742600456869,None,None,None,306743828900016,None,0151106487,1,None,None,None,Челябинская область,None
69,70,2020-11-11 08:54:29.692515,745010253903,None,Челябинск,None,308745011400012,None,0160758844,1,None,None,None,Челябинская область,None
70,71,2020-11-11 11:24:19.889126,745214807998,None,Челябинск,None,318745600101871,None,0131335359,1,None,None,None,Челябинская область,None
71,72,2020-11-11 13:14:43.03616,742300181243,None,Снежинск,None,304742332900051,None,0129235725,1,None,None,None,Челябинская область,None