Используя данные представленные по ссылке Train_Data_200k создать модель, нацеленную на прогнозирование значений параметров Target_1...4 по значениям Tag_1...79.
После получения модели применить ее к тестовой выборке представленной в архиве ML_Data в файле test_data_100k и на основании значений Tag_1...79 получить прогнозы для параметров Target_1...4.
Полученные прогнозы и топ-10 значимых тэгов направить в качестве результата в ответном письме.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
df_train=pd.read_csv('/opt/kate_repo/real_data_analysis/chem_tech_ai/train_data_200k.csv')

In [3]:
df_train.head()

,Unnamed: 0,tag1,tag2,tag3,tag4,tag5,tag6,tag7,tag8,tag9,...,tag74,tag75,tag76,tag77,tag78,tag79,target1,target2,target3,target4
0,2016-08-18 00:00:00,15.78042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.02723,66.30531,55.10297,73.65612,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-08-18 00:01:00,15.80157,NaN,NaN,NaN,NaN,NaN,53.06440,NaN,NaN,...,53.05109,66.30098,55.11534,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-08-18 00:02:00,15.68913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.06495,66.30359,55.09395,NaN,NaN,55.07365,NaN,NaN,NaN,NaN
3,2016-08-18 00:03:00,15.75101,NaN,20.26209,NaN,NaN,NaN,52.95166,NaN,NaN,...,53.06760,66.28421,55.12513,NaN,92.46913,NaN,NaN,NaN,NaN,NaN
4,2016-08-18 00:04:00,15.57773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,53.09679,66.26472,55.15526,73.67016,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_train.shape

(200000, 84)

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 84 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  200000 non-null  object
 1   tag1        199934 non-null  float64
 2   tag2        109370 non-null  float64
 3   tag3        109456 non-null  float64
 4   tag4        85 non-null      float64
 5   tag5        9736 non-null    float64
 6   tag6        373 non-null     float64
 7   tag7        88122 non-null   float64
 8   tag8        16777 non-null   float64
 9   tag9        407 non-null     float64
 10  tag10       199837 non-null  float64
 11  tag11       199867 non-null  float64
 12  tag12       199875 non-null  float64
 13  tag13       199875 non-null  float64
 14  tag14       199875 non-null  float64
 15  tag15       199875 non-null  float64
 16  tag16       199875 non-null  float64
 17  tag17       199875 non-null  float64
 18  tag18       199875 non-null  float64
 19  tag19       100168 non-null  float64
 20  tag20       199867 non-null  float64
 21  tag21       199867 non-null  float64
 22  tag22       199867 non-null  float64
 23  tag23       199867 non-null  float64
 24  tag24       199867 non-null  float64
 25  tag25       199867 non-null  float64
 26  tag26       199867 non-null  float64
 27  tag27       199867 non-null  float64
 28  tag28       199867 non-null  float64
 29  tag29       199867 non-null  float64
 30  tag30       199867 non-null  float64
 31  tag31       199867 non-null  float64
 32  tag32       199867 non-null  float64
 33  tag33       199867 non-null  float64
 34  tag34       199867 non-null  float64
 35  tag35       199867 non-null  float64
 36  tag36       39220 non-null   float64
 37  tag37       38048 non-null   float64
 38  tag38       158308 non-null  float64
 39  tag39       152970 non-null  float64
 40  tag40       15578 non-null   float64
 41  tag41       1407 non-null    float64
 42  tag42       199863 non-null  float64
 43  tag43       199867 non-null  float64
 44  tag44       111725 non-null  float64
 45  tag45       113800 non-null  float64
 46  tag46       98410 non-null   float64
 47  tag47       199867 non-null  float64
 48  tag48       132355 non-null  float64
 49  tag49       199866 non-null  float64
 50  tag50       78120 non-null   float64
 51  tag51       14722 non-null   float64
 52  tag52       101792 non-null  float64
 53  tag53       84189 non-null   float64
 54  tag54       59443 non-null   float64
 55  tag55       199867 non-null  float64
 56  tag56       199837 non-null  float64
 57  tag57       199867 non-null  float64
 58  tag58       199837 non-null  float64
 59  tag59       199119 non-null  float64
 60  tag60       199875 non-null  float64
 61  tag61       35810 non-null   float64
 62  tag62       36726 non-null   float64
 63  tag63       199875 non-null  float64
 64  tag64       199867 non-null  float64
 65  tag65       199867 non-null  float64
 66  tag66       199867 non-null  float64
 67  tag67       199867 non-null  float64
 68  tag68       199867 non-null  float64
 69  tag69       37652 non-null   float64
 70  tag70       199867 non-null  float64
 71  tag71       199867 non-null  float64
 72  tag72       199867 non-null  float64
 73  tag73       35087 non-null   float64
 74  tag74       199867 non-null  float64
 75  tag75       199867 non-null  float64
 76  tag76       199867 non-null  float64
 77  tag77       48803 non-null   float64
 78  tag78       48673 non-null   float64
 79  tag79       48558 non-null   float64
 80  target1     199991 non-null  float64
 81  target2     199991 non-null  float64
 82  target3     199991 non-null  float64
 83  target4     199991 non-null  float64
dtypes: float64(83), object(1)
memory usage: 128.2+ MB

In [6]:
# Список долей отсутствующих записей для каждого признака
for col in df_train.columns:
    pct_missing = np.mean(df_train[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing * 100)))

Unnamed: 0 - 0%
tag1 - 0%
tag2 - 45%
tag3 - 45%
tag4 - 100%
tag5 - 95%
tag6 - 100%
tag7 - 56%
tag8 - 92%
tag9 - 100%
tag10 - 0%
tag11 - 0%
tag12 - 0%
tag13 - 0%
tag14 - 0%
tag15 - 0%
tag16 - 0%
tag17 - 0%
tag18 - 0%
tag19 - 50%
tag20 - 0%
tag21 - 0%
tag22 - 0%
tag23 - 0%
tag24 - 0%
tag25 - 0%
tag26 - 0%
tag27 - 0%
tag28 - 0%
tag29 - 0%
tag30 - 0%
tag31 - 0%
tag32 - 0%
tag33 - 0%
tag34 - 0%
tag35 - 0%
tag36 - 80%
tag37 - 81%
tag38 - 21%
tag39 - 24%
tag40 - 92%
tag41 - 99%
tag42 - 0%
tag43 - 0%
tag44 - 44%
tag45 - 43%
tag46 - 51%
tag47 - 0%
tag48 - 34%
tag49 - 0%
tag50 - 61%
tag51 - 93%
tag52 - 49%
tag53 - 58%
tag54 - 70%
tag55 - 0%
tag56 - 0%
tag57 - 0%
tag58 - 0%
tag59 - 0%
tag60 - 0%
tag61 - 82%
tag62 - 82%
tag63 - 0%
tag64 - 0%
tag65 - 0%
tag66 - 0%
tag67 - 0%
tag68 - 0%
tag69 - 81%
tag70 - 0%
tag71 - 0%
tag72 - 0%
tag73 - 82%
tag74 - 0%
tag75 - 0%
tag76 - 0%
tag77 - 76%
tag78 - 76%
tag79 - 76%
target1 - 0%
target2 - 0%
target3 - 0%
target4 - 0%

In [7]:
df_train= df_train.fillna(0)

In [ ]:
 num_bins = 10 
 
 df_train.hist(bins=num_bins, figsize=(20,15)) 
 plt.savefig("train_histogram_plots") 
 plt.show()

# разделение данных на обучающее и тестовое подмножества.
x, y = df_train(return_X_y=True)
x_train, x_test, y_train, y_test =train_test_split(x, y, test_size=0.33, random_state=0)

In [ ]:
from sklearn.model_selection import train_test_split

# Разделение массива на случайные обучающие и тестовые подмножества

X_train, X_vaild, y_train, y_vaild = train_test_split(df_train.drop(df_train.columns[[0,80,81,82,83]],
                                                              axis=1),
                                                      df_train[["target1","target2","target3","target4"]],
                                                      test_size=0.3,
                                                      random_state=2000)

# test_size - доля набора данных, которая будет включена в тестовую группу.
# X_train, X_vaild, y_train, y_vaild Двумерные неоднородные табличные данные с изменяемым размером.
# random_state - способ разделения выборки на тестовую и тренинговую -
# это случайное число позволит зафиксировать разделение и не менять его при прогонах

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, random_state=2000)

# n_estimators - кол-во деревьев

rf.fit(X_train, y_train)

# fit - постоить rf  из обучающего набора

y_pred = rf.predict(X_vaild)

# predict - предсказанный класс - тот, у которого самая высокая средняя вероятность по деревьям

from sklearn.metrics import accuracy_score  # оценка точности
print(accuracy_score(y_vaild, y_pred))

Logistic Regression Model

 from sklearn.feature_selection import RFE 
 from sklearn.linear_model import LogisticRegression 
 
 model = LogisticRegression() 
 
 rfe = RFE(model, 10) 
 rfe = rfe.fit(df_train[X], df_train[y]) 
 print(rfe.support_) 
 print(rfe.ranking_)

from sklearn.cross_validation import train_test_split 
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0) 
 
 from sklearn.linear_model import LogisticRegression 
 from sklearn import metrics
 logreg = LogisticRegression() 
 logreg.fit(X_train, y_train)