SQL 
Есть 2 таблицы с информацией о клиентах (customer_info.xlsx) и транзакциях за период с
01.06.2015 по 01.06.2016 (Transactions_info.xlsx).
Необходимо выполнить следующие задания:
- вывести список клиентов с непрерывной историей за год, средний чек за период, средняя сумма
покупок за месяц, количество всех операций по клиенту за период
- вывести помесячную информацию: средняя сумма чека в месяц, среднее количество операций в
месяц, среднее количество клиентов, которые совершали операции; долю от общего количества
операций за год и долю в месяц от общей суммы операций; вывести % соотношение M/F/NA в
каждом месяце с их долей затрат
- Вывести возрастные группы клиентов с шагом 10 лет и отдельно клиентов, у которых нет данной
информации с параметрами

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(
    '/opt/kate_repo/real_data_analysis/digital_line/Customer_info.csv')
df.head()

,Id_client,Total_amount,Gender,Age,Count_city,Response_communcation,Communication_3month,Tenure
0,16052,1637,F,65.0,1,1,1,5
1,25027,4539,M,29.0,1,1,1,10
2,25659,6342,F,44.0,1,0,1,10
3,33297,9755,F,32.0,1,0,1,12
4,38750,5682,F,53.0,1,1,1,11

In [3]:
df_second = pd.read_csv(
    '/opt/kate_repo/real_data_analysis/digital_line/Transactions_info.csv')
df_second.head()

     date_new  Id_check     ID_client  Count_products  Sum_payment
0  01/03/2016   2271145  _x0031_04027           2.034        23.31
1  01/03/2016   2271145  _x0031_04027           1.000        31.75
2  01/03/2016   2271145  _x0031_04027           1.000         6.80
3  01/03/2016   2271145  _x0031_04027           1.000         6.24
4  01/03/2016   2271145  _x0031_04027           1.000        36.98

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://postgres:postgres@localhost/sql_example')

In [ ]:
# Save the data from dataframe to postgres table "Customer_info"
df.to_sql(
    'customer_info',
    engine,
    index=False # Not copying over the index
)

# Save the data from dataframe to postgres table "Transactions_info"
df_second.to_sql(
    'transactions_info',
    engine,
    index=False # Not copying over the index
)